In [1]:
#import packages
from pytrends.request import TrendReq
import csv
import time
import pandas as pd

In [2]:
#Connecting to Google (WORKS)
pytrends = TrendReq(hl='en-US', tz=360)

In [3]:
#pytrends = TrendReq(hl='en-US', tz=360, timeout=(10,25), proxies=['https://35.201.123.31:880',], retries=2, backoff_factor=0.1, requests_args={'verify':False})

In [4]:
#Building Payload
kw_list = ["Economia", "Previdência", "Bolsa Família", "Desemprego", "Plano Governo"]
timeframes = ['2018-10-14 2018-10-28', '2018-9-23 2018-10-7', '2014-10-12 2014-10-26', '2014-9-21 2014-10-5', '2010-10-17 2010-10-31', '2010-9-19 2010-10-3', '2006-10-15 2006-10-29', '2006-9-17 2006-10-1']
#segmented for national and most populous states in each region
geos = ["BR","BR-AM", "BR-BA", "BR-MS", "BR-SP", "BR-RS"]

In [5]:
#Building Payload continued 
pytrends.build_payload(
kw_list,
cat=0,
timeframe=timeframes[0],
geo=geos[0])

In [6]:
data = pytrends.interest_over_time()

In [7]:
data

,Economia,Previdência,Bolsa Família,Desemprego,Plano Governo,isPartial
date,,,,,,
2018-10-14,37,4,12,20,100,False
2018-10-15,59,20,21,52,75,False
2018-10-16,69,9,21,57,70,False
2018-10-17,68,15,25,52,60,False
2018-10-18,62,15,22,45,45,False
2018-10-19,53,13,20,58,44,False
2018-10-20,42,13,17,22,39,False
2018-10-21,45,0,10,15,24,False
2018-10-22,63,10,27,56,30,False
2018-10-23,67,11,16,64,38,False
2018-10-24,64,11,20,65,31,False
2018-10-25,59,12,14,52,44,False
2018-10-26,52,12,21,44,48,False
2018-10-27,42,4,9,28,57,False
2018-10-28,51,10,16,24,80,False

In [8]:
data = data.drop('isPartial', 1)

/var/folders/yb/_vwl36s15rv49b1lf71677cr0000gn/T/ipykernel_86957/1220488576.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop('isPartial', 1)

In [9]:
data.mean()

Economia         55.533333
Previdência      10.600000
Bolsa Família    18.066667
Desemprego       43.600000
Plano Governo    52.333333
dtype: float64

In [10]:
data

            Economia  Previdência  Bolsa Família  Desemprego  Plano Governo
date
2018-10-14        37            4             12          20            100
2018-10-15        59           20             21          52             75
2018-10-16        69            9             21          57             70
2018-10-17        68           15             25          52             60
2018-10-18        62           15             22          45             45
2018-10-19        53           13             20          58             44
2018-10-20        42           13             17          22             39
2018-10-21        45            0             10          15             24
2018-10-22        63           10             27          56             30
2018-10-23        67           11             16          64             38
2018-10-24        64           11             20          65             31
2018-10-25        59           12             14          52             44
2018-10-26        52           12             21          44             48
2018-10-27        42            4              9          28             57
2018-10-28        51           10             16          24             80

In [11]:
election = ["2018-2", "2018-1", "2014-2","2014-1", "2010-2","2010-1", "2006-2", "2006-1"]
regions = ["BR","BR-AM", "BR-BA", "BR-MS", "BR-SP", "BR-RS"]
election_round = [election[0]]*len(data.index)
region= [regions[0]]*len(data.index)
data['round'] = election_round
data['region'] = region

In [12]:
data

,Economia,Previdência,Bolsa Família,Desemprego,Plano Governo,round,region
date,,,,,,,
2018-10-14,37,4,12,20,100,2018-2,BR
2018-10-15,59,20,21,52,75,2018-2,BR
2018-10-16,69,9,21,57,70,2018-2,BR
2018-10-17,68,15,25,52,60,2018-2,BR
2018-10-18,62,15,22,45,45,2018-2,BR
2018-10-19,53,13,20,58,44,2018-2,BR
2018-10-20,42,13,17,22,39,2018-2,BR
2018-10-21,45,0,10,15,24,2018-2,BR
2018-10-22,63,10,27,56,30,2018-2,BR
2018-10-23,67,11,16,64,38,2018-2,BR
2018-10-24,64,11,20,65,31,2018-2,BR
2018-10-25,59,12,14,52,44,2018-2,BR
2018-10-26,52,12,21,44,48,2018-2,BR
2018-10-27,42,4,9,28,57,2018-2,BR
2018-10-28,51,10,16,24,80,2018-2,BR

In [13]:
data.groupby(["round","region"]).mean()

,,Economia,Previdência,Bolsa Família,Desemprego,Plano Governo
round,region,,,,,
2018-2,BR,55.533333,10.6,18.066667,43.6,52.333333

In [ ]:
pulling_loop = []

for row in pulling_loop:
    n = 0
    
    pytrends.build_payload(
    kw_list,
    cat=0,
    geo=geos[n += 1],
    timeframe=timeframes[n += 1],
    
    data = pytrends.interest_over_time()
    )